{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large light-blue darken-2">
            Add Task <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for task in tasks|sort(attribute="due_date") %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ task.task_name }}</strong> : {{ task.due_date.strftime("%d %B, %Y") }}
            {% if task.is_urgent == True %}
                <i class="fas fa-exclamation-circle light-blue-text text-lighten-2"></i>
            {% endif %}
        </div>
        <div class="collapsible-body">
            <strong>{{ task.category }}</strong>
            <p>{{ task.task_description }}</p>
            <p>
                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn green accent-4">Edit</a>
                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn red">Delete</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}
